* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
  }

  body {
    padding: 1rem;
    text-align: center;
    background: linear-gradient(90deg, #fcff9e 0%, #c67700 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  header {
  padding: 0.5rem;
  width: 100%;
  color: black;
  font-size: 35px;
  text-decoration: underline;
}
#logo {
    display: flex;
    overflow-x: auto;
    margin: 1rem 0;
    max-width: calc(100vw - 2rem);
  }

#logo img {
    display: flex;
    overflow-x: auto;
    max-block-size: 150px;
}

#fooddetails {
    position: relative;
  }

.detailimg {
    height: 350px;
    float: left;
}
.name,
.address,
.phone,
.percentage {
    position: absolute;
    padding: 0.25rem 5rem 0.25rem 1rem;
    left: 10px;
}

.name {
    top: 5%;
    right: 10px;
  }

.address {
    top: 15%;
    right: 10px;
}
.phone {
    top: 22%;
    right: 10px;
}

.percentage {
  top: 30%;
  right: 10px;
}

.button {
  float:left;
  padding: 10px;
  width: 100px;
  height:100px;
  filter: drop-shadow(2px 2px 5px rgb(0 0 0 / 0.5));
}

.detailimg {
  width: 400px;
  height: 400px;
}

.form-detail {
  position: absolute;
  margin: 1rem 0;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  left: 550px;
  bottom: 70px
  
}

  textarea[type=texts] {
    width: 100%;
    padding: 50px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.detailimg {
  width: 400px;
  height: 400px;
}



